In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("csv/all.csv")
df.head()

      PRN  Course ID        Date  Attendance
0  C17048     310244  2019-09-16           1
1  C17048     310243  2019-09-16           1
2  C17048     310245  2019-09-16           1
3  C17048     310242  2019-09-16           1
4  C17048     310246  2019-09-16           1